
.filme-info{
    margin: 0 auto;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0 8px;

}

.filme-info h1{
    margin: 14px 16px;
}

.filme-info img{
    border-radius: 16px;
    width: 800px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
}

.filme-info h3{
    margin-top: 14px;
}

.filme-info span{
    margin: 8px 0;
}

.area-buttons button {
    color: #090909;
    margin-top: 25px;
    margin-left: 50px;
    margin-bottom: 100px;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    border: 2px solid black;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
}
    
.area-buttons button:hover {
    border: 1px solid white;
}
    
.area-buttons button:active {
    box-shadow: 4px 4px 12px #c5c5c5,
                -4px -4px 12px #ffffff;
}

.area-buttons a{
    text-decoration: none;
    color: #090909;
}